/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/04/2020, 11:03:32 م
    Author     : sa
*/

.root{
    -fx-background-color: blue;
}
.button{
    -fx-background-color: red;
}
.button:hover{
    -fx-background-color: green;
}