/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/05/2020, 02:22:10 ص
    Author     : Extreme
*/

.button{
    -fx-text-fill:yellowgreen;
    -fx-font-size:16px;
    -fx-font-weight:bold;
    -fx-background-color:linear-gradient(#DC143C,#008B8B);
    
}


.button:hover{
     -fx-background-color:linear-gradient(#ADFF2F,#B8860B);
}